@import "~react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

/* Additional CSS rules for styling your React components */

@layer base {
    button {
        @apply border border-black rounded-xl px-5 py-1;
    }
}

.image-gallery-slide-wrapper.image-gallery-thumbnails-bottom {
    height: 580px;

    .image-gallery-swipe,
    .image-gallery-slides,
    .image-gallery-slide {
        height: 100%;
    }

}

.image-gallery-slide-wrapper .image-gallery-slide img {
    height: 100% !important;
    /* width: 100%; */
    /* object-fit: fill; */
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 100%;
}

img.image-gallery-thumbnail-image {

    height: 100px;
    /* object-fit: fill; */
    width: 100%;
    opacity: 0.4;
    transition: all .3s ease-in-out;
}

img.image-gallery-thumbnail-image:hover {
    opacity: 1;
}

img.image-gallery-thumbnail-image:focus-visible {
    opacity: 1;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    height: 50px;
    width: 28px;
}

.product-landing-detail-section{
    margin-top: 10rem;
}
.product-landing-detail-section .product-heading {

    width: 100%;
    padding: 0px 0px 8px;
    border-bottom: 1px solid rgb(210, 210, 210);

    h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }

}

.accordian-box .radio-wrapper {
    cursor: pointer;
    padding: 15px 10px;
    border: 1px solid rgb(230, 232, 236);
    border-radius: 3px;
    margin-bottom: 10px;
}

.accordian-box .radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0px !important;
}

.accordian-box .radio-button input[type="radio"] {
    display: none;
}

.accordian-box .radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
}

.accordian-box .radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

.accordian-box .radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.accordian-box .radio-label {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: rgb(34, 34, 34);
}

.delivery-date-box .date-heading h4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    color: black;
}

.delivery-date-box .date-box {
    padding: 24px;
    padding-bottom: 10px;
    background: rgb(246, 246, 246);
    border: 1px solid rgb(204, 204, 204);
}

.delivery-date-box .date-box .date .box .select-date-title {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgb(34, 34, 34);
}

.delivery-date-box .date-box .date .box .select-date input {
    padding: 8px 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    font-size: 15px;
    line-height: 20px;
    width: 150px;
    color: grey;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.delivery-date-box .date-box .note p {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgb(34, 34, 34);
    margin-top: 15px;
}

.detail-page-btns-groups .MultiButton {
    border-radius: 0px;
    letter-spacing: 0.1em;
    font-weight: 500;
    height: 56px;
    padding: 8px 24px;
    font-size: 16px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    transition: all .3s ease-in-out;
    border: 1px solid transparent;

    span {
        color: white;
        font-family: "Montserrat";
    }
}

.detail-page-btns-groups .MultiButton:hover {
    background-color: white !important;
    border: 1px solid black;

    span {
        color: black;
    }
}

.detail-page-btns-groups .MultiButton2 {
    background-color: white !important;
    border: 1px solid black;

    span {
        color: black !important;
    }
}

.detail-page-btns-groups .MultiButton2:hover {
    background-color: black !important;
    border: 1px solid black;

    span {
        color: white !important;
    }
}
.product-landing-detail-section .more-info-box {


i{
    color: black;
    width: 1.25rem; 
}

.title{
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: super;
    font-size: medium;
    font-weight: bold;
}
button{
    border-radius: 0px; 
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 14px;
    height: auto;
    padding: 0px;
    min-width: auto;
    -webkit-box-pack: start;
    justify-content: flex-start;

    span{
        text-decoration: underline dotted;
        text-transform: none;
        font-size: 13px !important;
    }
}

}

.product-landing-detail-section .Buyers__Promise-Container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 10px;
    gap: 6.5px;
    background: rgb(243, 243, 243);

    svg{
        width: 32px !important;
        height: 32px !important;
    }
    .BuyersPromise__Heading{
        font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    color: black;
    }
}
.BuyersPromise__RowContainer .BuyersPromise__Row .BuyersPromise__Title{
    font-weight: 600;
    margin-bottom: 0.75em;
    color: black;
    font-size: 14px;
    line-height: 18px;
}

