:root {
    --swiper-theme-color: #007aff
}

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */

@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}



/*! PhotoSwipe White UI CSS by Dmitry Semenov | photoswipe.com | MIT license */

@media only screen and (min-width:992px) {
    @-webkit-keyframes clockwise {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }

        to {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn)
        }
    }

    @keyframes clockwise {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }

        to {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn)
        }
    }

    @-webkit-keyframes donut-rotate {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }

        50% {
            -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg)
        }

        to {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }
    }

    @keyframes donut-rotate {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }

        50% {
            -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg)
        }

        to {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }
    }
}





@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    to {
        -webkit-transform: scaleY(.5)
    }

    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    to {
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5)
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}



* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body:not(.is-ready) * {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

a {
    color: inherit
}

a,
a:focus,
a:hover {
    text-decoration: none
}

ul {
    list-style: none
}

ul li {
    display: inline-block
}

body,
html {
    background: #fff;
    color: #232323;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .01em;
    min-width: 320px;
    max-width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media only screen and (min-width:992px) {

    body,
    html {
        letter-spacing: .02em
    }
}

html {
    margin-right: 0 !important
}

::-moz-selection {
    color: #fff;
    background: #fbbf1b
}

::selection {
    color: #fff;
    background: #fbbf1b
}

.page {
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

.page,
.page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.page__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px
}

@media only screen and (min-width:769px) {
    .page__content {
        padding-top: 145px
    }
}

@media only screen and (min-width:992px) {
    .page__content {
        padding-top: 183px
    }
}



.page__content .page__main-content.hidden {
    display: none
}

.page__content.nobp {
    padding-bottom: 0
}

.container {
    max-width: 1510px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px
}

.container--940 {
    max-width: 1028px
}

.mt-30 {
    margin-top: 30px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

@media only screen and (max-width:576px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 3rem !important;
    }
    .page__content{
        margin-top: 5rem !important;
    }
}

.bg-white {
    background: #fff !important
}

.bg-gray {
    background: #f3f6f6 !important
}

.bg-nude {
    background: #fff1e6 !important
}

.regular-content {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7
}

.regular-content p {
    font-weight: 300;
    margin: 0
}

.regular-content p b,
.regular-content p strong {
    font-weight: 500
}

.regular-content p a {
    font-weight: 400;
    text-decoration: underline
}

.regular-content p a:hover {
    color: #bc4f69
}

.regular-content p+p {
    margin-top: 1.2em
}

.regular-content ol {
    padding-left: 1.5em
}

.regular-content ul {
    padding-left: 0;
    margin: 1.2em 0
}

.regular-content ul li {
    position: relative;
    font-weight: 300;
    line-height: 1.7;
    padding-left: 20px;
    display: list-item;
    margin-bottom: 0
}

.regular-content ul li:before {
    display: inline-block;
    content: " ";
    position: absolute;
    left: 5px;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor
}

.regular-content table {
    border-width: 1px 0 0 1px;
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    font-size: inherit;
    font-weight: 300;
    color: inherit
}

.regular-content table td,
.regular-content table th {
    border-width: 0 1px 1px 0;
    padding: .7em
}

.regular-content table th {
    font-weight: 600
}

.regular-content table,
.regular-content td,
.regular-content th {
    border-color: #aaa;
    border-style: solid
}

.regular-content h2 {
    margin-top: 1.5em;
    font-weight: 500;
    font-size: 17px
}

.regular-content h3,
.regular-content h4,
.regular-content h5,
.regular-content h6 {
    font-size: 12px;
    font-weight: 500;
    margin: .5em 0
}

.regular-content h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .03em
}

.regular-content h1:first-child,
.regular-content h2:first-child,
.regular-content h3:first-child,
.regular-content h4:first-child,
.regular-content h5:first-child,
.regular-content h6:first-child,
.regular-content p:first-child {
    margin-top: 0
}

.regular-content a {
    text-decoration: underline;
    font-weight: 500
}

.regular-content a:hover {
    color: #bc4f69
}

.regular-content b,
.regular-content b a,
.regular-content strong,
.regular-content strong a {
    font-weight: 500
}

@media only screen and (min-width:992px) {

    .regular-content p {
        line-height: 1.7
    }

    .regular-content ol {
        padding-left: 1.5px
    }

    .regular-content ol li {
        padding-left: .5em
    }

    .regular-content ul li {
        padding-left: 40px
    }

    .regular-content ul li:before {
        top: 9px;
        left: 25px
    }

    .regular-content h2 {
        font-size: 19px
    }

    .regular-content h3 {
        font-size: 14px
    }

    .regular-content h4,
    .regular-content h6 {
        font-size: 13px
    }
}

.basic-page {
    margin-bottom: 40px
}

.basic-page h1 {
    font-family: Butler, serif;
    font-size: 30px;
    line-height: 1.28;
    font-weight: 300;
    letter-spacing: .02em
}

.basic-page h1 span {
    font-family: Inter, sans-serif;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5
}

.basic-page h1+h2 {
    margin-top: 0
}

.basic-page h3 {
    font-size: 15px;
    margin-top: 1.2em
}

.basic-page h4 {
    font-size: 16px;
    margin-top: 1em
}

.basic-page .container {
    padding-top: 20px
}

.basic-page .breadcrumbs,
.basic-page hr {
    margin-bottom: 10px
}

.basic-page hr {
    border: 1px solid #d3dede;
    border-bottom: 0;
    margin-top: 10px
}

@media only screen and (min-width:576px) {
    .basic-page .container {
        max-width: 780px;
        padding-top: 40px
    }

    .basic-page .container h1 {
        font-size: 48px
    }

    .basic-page .container h1 span {
        font-size: 22px;
        line-height: 1;
        font-weight: 300;
        font-family: Butler, serif
    }

    .basic-page .container h3 {
        font-size: 16px;
        font-weight: 500
    }

    .basic-page .container.container--940 {
        max-width: 940px
    }

    .basic-page .breadcrumbs {
        margin-bottom: 25px
    }
}

.h2-title {
    font-family: Butler, serif;
    font-size: 30px;
    line-height: 1.28;
    font-weight: 300;
    letter-spacing: .02em
}

.h2-title.mt-0 {
    margin-top: 0
}

.h3-title {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .01em
}

.p-main {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7
}

.p-main+p {
    margin-top: 1em
}

.p-small {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.58;
    margin: 0
}

.p-small+p {
    margin-top: 1em
}

.p-main span,
.p-small span {
    font-weight: 400
}

.p-main strong,
.p-small strong {
    font-weight: 500
}

.p-main a,
.p-small a {
    font-weight: 500;
    text-decoration: underline
}



.p-main {
    margin: 0
}

@media only screen and (min-width:576px) {
    .h2-title {
        font-size: 48px
    }
}

@media only screen and (min-width:769px) {
    .h3-title {
        font-size: 19px;
        letter-spacing: .02em
    }
}

.c-black {
    color: #000
}

button {
    font-family: Inter, sans-serif;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer
}

button:focus {
    outline: none
}

.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out
}

.btn:active,
.btn:focus {
    outline: none
}

.btn--block {
    display: block;
    width: 100%
}

.btn-primary {
    border: 1px solid #232323;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    padding: 20px 25px 19px;
    text-transform: uppercase
}

.btn-primary:hover:not(.no-mobile-hover) {
    background: #232323;
    color: #fff
}

.btn.disabled,
.btn[disabled] {
    cursor: none;
    background: #aaa !important;
    border-color: rgba(0, 0, 0, 0) !important
}

.icon {
    display: inline-block;
    font-style: normal;
    content: " "
}

.ico {
    fill: currentColor
}

.ui-group {
    position: relative;
    margin-bottom: 10px
}

.ui-group label:not(.has-error) {
    display: block;
    margin-bottom: 10px
}

.ui-input {
    display: block;
    width: 100%;
    background: #fff;
    font-family: Inter, sans-serif;
    color: #232323;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    font-size: 14px;
    padding: 17px 20px;
    line-height: normal;
    -webkit-transition: border .25s ease-in-out, color .25s ease-in-out;
    -o-transition: border .25s ease-in-out, color .25s ease-in-out;
    transition: border .25s ease-in-out, color .25s ease-in-out
}

.ui-input::-webkit-input-placeholder {
    color: #aaa
}

.ui-input::-moz-placeholder {
    color: #aaa
}

.ui-input:-ms-input-placeholder {
    color: #aaa
}

.ui-input::-ms-input-placeholder {
    color: #aaa
}

.ui-input::placeholder {
    color: #aaa
}

.ui-input:active,
.ui-input:focus {
    border-color: #232323
}

.ui-input[disabled] {
    background: #f3f6f6;
    font-weight: 300
}

.ui-input[disabled]:active,
.ui-input[disabled]:focus {
    border-color: #d3dede
}

textarea.ui-input {
    resize: vertical
}

@media only screen and (min-width:992px) {
    .ui-input {
        font-size: 14px;
        padding-bottom: 17px;
        padding-top: 17px
    }
}

body.hidden {
    overflow: hidden
}

.site-map__list {
    margin-top: 40px
}

.site-map__list h2 {
    margin-bottom: 30px
}

.site-map__list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    font-weight: 300
}

.site-map__list ul li {
    display: block;
    margin: 5px 0
}

.site-map__list ul li a:hover {
    color: #bc4f69
}

.site-map__list--single ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1
}

.site-map__separator {
    margin: 50px auto;
    width: 60%;
    height: 1px;
    border-bottom: 1px solid #d3dede
}

@media only screen and (min-width:769px) {
    .site-map__list ul {
        width: 66.66667%
    }

    .site-map__list--triple ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        width: 100%
    }
}

.subscribe {
    padding: 40px 0
}

.subscribe__head h2 {
    margin: 0
}

.subscribe__body,
.subscribe__form {
    margin-top: 20px
}

.subscribe__form .btn {
    padding-top: 15px;
    padding-bottom: 14px
}

@media only screen and (min-width:576px) {
    .subscribe__form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 500px
    }

    .subscribe__form .ui-group {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .subscribe__form .btn {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        margin-left: 20px;
        margin-bottom: 10px
    }
}

@media only screen and (min-width:992px) {
    .subscribe {
        display: none
    }
}